body{font-family:Helvetica, Segoe UI; font-size: 14px; line-height: 20px;}
a{text-decoration: none;}


/***userBar***/
#userBarWrap{width:100%; height:30px; background:#5A5C5B;}
#userBar{width:1200px; margin:auto;}
#userMenu{float: right; min-width:150px;}
#userMenu ul li{position:relative;}
#userName{display:block; padding:5px 10px; color:#fff; font-size:13px; text-align:center;}
#userMenu ul ul{display: none; position:absolute; top:100%; width:150px; z-index:100; background:#fafafa;
	box-shadow: 0 0 3px #666; padding:10px 0;}
#userMenu ul ul:before{content: ""; border-left: 8px solid transparent; border-right: 8px solid transparent;
	border-bottom:8px solid #fafafa; position: absolute; top:-8px; left: 70px;}
#userMenu ul li:hover > ul{display: block;}
#userMenu ul ul li a{display:block; text-align:center; padding:5px 0; background:#fafafa; color:#000;}
#userMenu ul ul li a:hover{background:#f1f1f1;}

#btnAdPanel{float:left; width:150px; height:100%; overflow:hidden; text-indent: -9999px;}
#btnAdPanel a{display:block; width: 150px; height:30px; background: url("../images/bg/settings.png") no-repeat center center;
	background-size:16px 16px;}
#btnAdPanel a:hover{background: url("../images/bg/settings.png") no-repeat center center; background-size:17px 18px;}
/******/
/***topBar***/
#topBarWrap{width:100%;  background: #fff;  z-index: 1000;} 
#topBar{width:1200px; height:100%; margin: auto; position:relative;}
/*status*/
#status{transition: 0.3s; position: absolute; width: 15px; height: 15px; border-radius: 50%; background: #ccc; top: 23px; left: -30px; text-indent: -1000px;}
#status:hover{text-indent: -55px;}
#status span{display: block; color: #F1A509; text-align: center; line-height: 12px;}
/*logo*/
#logo{width: 200px; height: 60px; float: left;}
#logo a{transition:0.5s; display:block; width: 100%; height: 60px; text-indent: -99999px; 
	background: url("../images/bg/shine.png") no-repeat -120px -100px, url("../images/bg/logo_small.png") no-repeat 20px center; }
#logo a:hover{background: url("../images/bg/shine.png") no-repeat 100px 100px, url("../images/bg/logo_small.png") no-repeat 20px center;}
/*mainNav*/
#mainNav{width: 900px; height: 60px; float: right;}
#mainNav ul{float:right;}
#mainNav ul li{float: left; position:relative;}
#mainNav ul li a{display: block; padding: 10px 25px; line-height: 40px; color: #171717;  font-weight: bold;}
#mainNav ul li a:hover{color: #007F7B;}
#mainNav ul ul{display: none; position: absolute; width: 150px; top:80%; left: -25%; background: #fff; box-shadow: 0 0 3px #ccc;  z-index: 1000;}
#mainNav ul li:hover > ul{display: block;}
#mainNav ul ul li{float: none; text-align: center;}
#mainNav ul ul li a{display: block; padding: 10px 25px; line-height: 30px; font-weight: normal; background: #fff;}
#mainNav ul ul li a:hover {color: #007F7B;}
#mainNav ul ul ul{z-index:200; left:95%; top:0;}
/**containerWrap**/
#containerWrap{width: 100%; height: auto; min-height: 1000px; padding-top: 30px; overflow: hidden;  
	background: #f1f1f1;  border-top: 1px solid #ccc;}
#container{width: 1200px; margin: auto; overflow: hidden;}
/**content**/
#content{width: 850px; float: left; overflow: hidden;}
/***singlePost***/
#singlePost{width: 736px; margin:2px; overflow: hidden; padding:20px 55px; background: #fff; border-radius: 2px; box-shadow:0 1px 2px #ccc;}
#singlePostHead{width: 100%; overflow: hidden;}
#ttlSinglePost{font-size: 22px; font-weight: bold; color: #005653; text-indent: 50px; line-height:30px; margin-top: 25px; margin-bottom: 10px;}
#singlePostInfo{display: block; color: #666; font-style: italic; text-indent: 50px;}
#singlePostInfo a{color: #005653;}
/*singlePostDesc*/
#singlePostDesc{width: 100%; margin-top: 40px; overflow: hidden;}
#illSinglePost{width: 163px; height: 163px; float: left; box-shadow: 0 0 3px #333; margin:3px 0; margin-left: 50px;}
#illSinglePost img{width: 100%; height: 100%;}
#singlePostDescContent{width: 470px; min-height: 130px; margin-left: 30px; margin-top: 5px; float: right; border-left: 4px solid #ccc; padding: 15px; paddig-left:20px; padding-right: 0;}
#singlePostDescContent p{text-align: justify; font-style: italic; font-family: Helvetica; color: #333; text-indent: 50px;  line-height: 23px;}
/*singlePostContent*/
#singlePostContent{width: 100%; padding: 20px 0;}
/*subTtl*/
.subTtl{font-family: Helvetica; display: block; font-style: italic; text-indent: 50px; font-weight: bold; line-height: 30px; margin-top: 10px; color: #333;}
#singlePostContent p{text-indent: 50px; line-height: 25px; font-family: Helvetica; text-align: justify;  margin: 15px 0;}
#singlePostContent img{display:block; max-width: 740px; height: auto;  margin: 20px auto; padding: 0px; box-shadow: 0px 0px 4px #333;}
.imageTtl{display: block; text-align: center; font-style: italic;}
#source{float: right; font-style: italic; margin-top: 10px; color: #333;}
/***authorInfo***/
#authorInfo{width: 736px; overflow: hidden; margin: 20px 2px; background: #fff; padding: 30px 55px; border-radius: 2px; box-shadow:0 1px 2px #ccc;}
#authorAvata{width: 130px; height: 130px; float: left; margin: 0 10px; box-shadow: 0 0 3px #333;}
#authorAvata img{width: 100%; height: 100%; margin: auto;}
#authorDesc{width: 442px; height: 130px; float: left; margin: 0 20px;}
#authorName{font-size: 20px; color: #00566D; font-weight: bold;}
#authorDesc p{text-align: justify; line-height: 20px; font-family: Helvetica; margin: 20px 0;  line-height: 23px; font-style:italic;}
#authorContact{width: 90px; float: left; margin-left: 10px;}
#authorContact h3{font-family: Helvetica; font-size: 17px; margin-bottom: 20px;}
#authorContact span{font-family: Helvetica; display: block; margin-top:10px;}
#authorContact span a { color: #00566D;}
/***CommentContainer***/
#commentContainer{width: 826px; overflow: hidden; padding: 10px; background: #fff;  border-radius: 2px; box-shadow:0 1px 2px #ccc; margin: 2px;}
#ttlCommentContainer{font-size: 16px; font-weight: bold; line-height: 30px; border-bottom: 1px solid #ccc;}
#commentBox{width: 100%; margin: 20px 0; overflow: hidden;}
	#userAvataNewCmt{width: 65px; height: 65px; margin: 2px; margin-left:5px; box-shadow: 0 0 2px #ccc; float: left;}
	#userAvataNewCmt img{width: 65px; height: 65px;}
	.userAvata{width: 65px; height: 65px; margin: 2px; box-shadow: 0 1px 1px #ccc; float: left; border-radius:50%; overflow: hidden; padding:2px;}
	.userAvata img{width: 65px; height: 65px; border-radius:50%;}
	#commentForm{width: 730px; float: right; margin-left: 20px;}
		#tarComment{max-width: 700px; min-width: 700px; height: 45px; min-height: 45px;  font-family: Helvetica; padding: 10px;}
		#btnPostComment{float: right; border: none; cursor: pointer; padding: 10px 20px; margin: 5px 0; margin-right: 8px; background: #007F7B;
			color: #fff;}
	.commentItem{width: 100%; overflow: hidden; margin: 20px 0;}
	.commentContent{width: 740px; float: right;}
	.commentContent p{ font-family: Helvetica;  line-height: 23px;}
		.userName{font-size:15px; font-weight: bold; color: #00566D; font-family: Helvetica; cursor: pointer;}
		.userName:hover{text-shadow: 0 0 3px #89FFFB;}
		.livetimestamp{color: #666; display: block;}
#loginPleaseMsg{font-family: Helvetica;}
#loginPleaseMsg a{color: #00566D;}
#loginPleaseMsg a:hover{text-decoration: underline;}
.btnRemove{display: inline-block; cursor: pointer; color:#ccc;}
.btnRemove:hover{text-decoration: underline;}
.commentItem:hover .btnRemove{color: #EF2300;}
/***sidebar***/ 
#sidebar{width: 320px; min-height: 500px; float: right; overflow: hidden;}

#timerWrap{width: 316px; overflow: hidden; border-radius: 5px; margin-bottom: 50px;}
#ttlTimer{display: block; text-align: center; padding: 10px; margin-top: 20px; height: 20px; line-height: 20px; font-size: 17px;
	font-weight: bold;}
#timer{width: 100%;}
#timer ul{margin-left: 15px;}
#timer ul li{float: left; margin-top: 30px;}
#timer ul li .timeBox{width: 55px; height: 80px; margin: 0 20px;}

#timer ul li .timeBox .timeValue{display: block; float: left; width: 100%; height: 50%; border-radius: 5px; background: #007F7B; text-align: center;

	line-height: 40px; color: #fff; font-weight: bold; border: 2px solid #fff; box-shadow: 0 3px 5px #ccc;}

#timer ul li .timeBox .attTime{display: block; float: left; width: 100%; height: 50%; text-align: center; padding-top: 5px;  color: #5E5E5E;}

#relatedPostsWrap{ margin-bottom: 60px; overflow: hidden;}
#ttlRelatedPosts{display: block; text-align: center; padding: 10px; height: 50px; line-height: 50px; font-size: 17px;
	font-weight: bold; background: #017FB9; color: #fff; border: 5px solid #fff; margin: 3px; border-radius: 10px;
	box-shadow: 0 0 3px #ccc; font-weight: bolder; margin-bottom: 15px;}

#hotPostSBList{margin-bottom: 60px;}
#ttlHotPostSBList{display: block; text-align: center; padding: 10px; height: 50px; line-height: 50px; font-size: 17px;
	font-weight: bold; background: #F1A509; color: #fff; border: 5px solid #fff; margin: 3px; border-radius: 10px;
	box-shadow: 0 0 3px #ccc; font-weight: bolder;  margin-bottom: 15px;}
.hotPotsSBItem{width: 296px; height: 70px; overflow: hidden; padding: 10px;
	margin: 7px 0; background: #fff; border-radius: 2px; box-shadow:0 1px 2px #ccc;}
.illHotPostSB, .illRelatedPostsSB{width: 66px; height: 66px; float: left; box-shadow: 0 0 1px #ccc; margin: 2px;}
.illHotPostSB img, .illRelatedPostsSB img{width: 62px; height: 62px; border: 2px solid #fff; border-radius: 6px;}
.ttlHotPostSB, .ttlRelatedPostsSB{float: left; width: 226px;}
.ttlHotPostSB h4 a, .ttlRelatedPostsSB h4 a{display: block; padding: 5px; padding-left: 10px; color: #171717; line-height: 18px;}
.ttlHotPostSB h4 a:hover, .ttlRelatedPostsSB h4 a:hover{color: #005B57;}
.ttlHotPostSB span, .ttlRelatedPostsSB span{display: block; padding-left: 10px; color: #999; font-size: 13px; font-style: italic;}

#lineEndHotPostSB{display: block; height: 10px; border: 3px solid #fff; background: #F1A509; box-shadow: 0 0 3px #ccc;
	margin: 3px; border-radius: 8px; margin-top: 20px;}

#likeFBBox{border: 1px solid #F2F2F2; margin-top: 60px; padding: 10px 3px;}
#ttlLikeFBBox{display: block; text-align: center; padding: 10px; height: 50px; line-height: 50px; font-size: 17px;
	font-weight: bold; background: #3B5998; color: #fff; border: 5px solid #fff; margin: 3px; border-radius: 10px;
	box-shadow: 0 0 3px #ccc; margin-bottom: 20px; font-weight: bolder;}

.widget-title{display: block; text-align: center; padding: 10px; height: 50px; line-height: 50px; font-size: 17px;
	font-weight: bold; background: #F1A509; color: #fff; border: 5px solid #fff; margin: 3px; border-radius: 10px;
	box-shadow: 0 0 3px #ccc; margin-bottom: 20px; font-weight: bolder; margin-top: 50px;}

#tag_cloud-2 .widget-title{ background: #50BFF7;}
.tagcloud{padding: 0 15px;}
.tagcloud a{transition:0.2s; color: #171717;}
.tagcloud a:hover{color: #F1A509;}

#archives-2  .widget-title{ background: #87C71D;}
#archives-2 ul{padding: 0 17px;}
#archives-2 ul li{float: left;}
#archives-2 ul li a{display: inline-block; border: 3px solid #fff; background: #F1A509; box-shadow: 0 0 3px #ccc;
	margin: 3px; border-radius: 8px; padding: 10px; color: #fff;}

/***endContainer***/
.endLine{width: 100%; min-width: 1200px; height: 80px; background: #f1f1f1; margin-top: 40px;}
/***footer***/
#footerWrap{width:100%; height: auto; min-width: 1200px; background: #333;}
#footer{width: 1200px; height: 350px; margin: auto;}
.footerBlock{width:360px; height: 100%; float: left; padding: 0 20px;}
.ttlFooterBlock{display: block;  font-size: 17px; color: #2ABC8D; font-weight: bold; margin-top: 50px; margin-bottom: 20px;
	border-bottom: 1px solid #444; padding-bottom: 10px;}
#logoFooter{ display:block; width:200px; height:100px;background: url("../images/bg/logo2.png") no-repeat center center;
	text-indent: -9999px; margin-top: 100px;}
#slogan{display: block; margin-left: 17px; color: #fff; font-size: 17px;}

#contact ul li a{transition:0.3s; display: block; color: #fff; font-size: 14px; padding: 5px 0;  text-indent: 40px;}
#tt{background: url("../images/bg/tt.png") no-repeat left center;}
#fb{background: url("../images/bg/fb.png") no-repeat left center;}
#yt{background: url("../images/bg/yt.png") no-repeat left center;}
#yh{background: url("../images/bg/yh.png") no-repeat left center;}
#gp{background: url("../images/bg/gp.png") no-repeat left center;}
#gm{background: url("../images/bg/gm.png") no-repeat left center;}
#ph{background: url("../images/bg/phone.png") no-repeat left center;}

#contact ul li a:hover{color: #F1A509;}

#other p{text-align: justify; color: #fff;}
#btnContribute{display: block; padding: 10px 0; text-align: center; background: #fff; margin-top: 40px; color: #007F7B;}

#endFooterWrap{width: 100%; height: 50px; background:#171717;}
#endFooter{width: 1200px; height: 100%; margin: auto;}
#copyright{color: #fff; line-height: 50px;}
#link{  float: right; line-height: 50px; color: #fff; }
#link a{color: #F1A509; display: inline-block; padding: 0 20px; font-size: 16px; font-weight: bold;}

#btnToTop{width:50px; height:50px; background:#007F7B; position:fixed; z-index: 3000px; bottom:0; right:0; display:none; color: #fff; line-height:50px;
	text-align:center; cursor: pointer;}
